.main-menu-part ul li  .activeLine{
    border-bottom: none;
}  
.drop {
    top: 35px;
}
.po-search.pt-search {
    margin-top: -60px;
}
.agent-rating .reviews-slider {
    padding: 0px;
}
.note-text {
    text-align: left;
    height: auto;
    margin: 10px 0px;
}
.pth-more {
    margin-top: 0px;
    padding-bottom: 0px;
}
.nav-tabs a {
    color: #3C3C3C;
}
.nav-tabs .nav-seller-buyer .nav-item.show .nav-links, .nav-tabs .nav-links.active {
    font-weight: inherit;
}
.pht-agent-img.toc-two-left-one:before {
    display: none;
}
.pth-all-heading {
    margin-top: 30px;
}
@media screen and (min-width: 768px){
    .nav-seller-buyer {
        padding-left: 150px;
    }
}