html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.page-container {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}
.ak-table table {
    position: relative;
}
.agent_btn_wrap {
    position: absolute;
    right: 21px;
    top: 50%;
    margin-top: -10px;
}
.agent_btn_wrap a {
    background-color: #fff;
    color: #087B9E;
    border: 1px solid #087B9E;
    /* margin-left: 15px; */
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    padding: 5px 10px;
    max-width: 225px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
}
.agent_btn_wrap a:hover {
    background-color: #087B9E;
    color: #fff;
}
.box-right-inner h1 {
    margin-bottom: 16px !important;
}
.box-right-inner p {
    margin-bottom: 13px !important;
}
#reviews-list .slick-arrow {
    left: -11px !important;
}
#reviews-list .slick-arrow.slick-next {
    left: auto !important;
    right: -11px !important;
}
.pth-more-right-content .slick-slide {
    border: 0 !important;
}
.pth-more-right-content .slick-slide button {
    display: none;
}
.pth-more-right-content .slick-current {
    transform: scale(1) !important;
}
#tabTutorialModal {
    margin-top: 50px;
}
.error-border {
    border: 2px solid red !important;
}
@media (max-width: 1360px) {
    .custom_search_size {
        margin-left: 7px;
        margin-right: 30px;
        max-width: 90%;
        margin-top: 10px !important;
    }
}
@media (max-width: 1250px) {
    .po-serach-wrapper {
        padding:0 !important;
        width: auto !important;
        margin: 0 auto;
        position: relative;
    }
    .custom_search_size {
        max-width: 75%;
    }
}
@media (min-width: 1199px) and (max-width: 1250px) {
    .po-serach-wrapper {
        left: -30px !important;
    }
}
@media (max-width: 1199px) {
    .agent_btn_wrap {
        max-width: 200px;
    }
    .custom_pin {
        margin-right: 10px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {	
    .pt-search-wrapper .type p {
        padding: 5px !important;
    }
    .pt-search-wrapper .price p {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .po-serach-wrapper {
        left: 30px !important;
        max-width: 82%!important;
    }
}
@media (max-width: 992px) {
    .agent_btn_wrap {
        display: none !important;
    }
}
@media (min-width: 767px) and (max-width: 992px) {
    .po-serach-wrapper {
        margin: 75px auto -15px !important;
        left: 0 !important;
        max-width: 69%;
    }
    .address p {
        padding: 3px;
    }
    .po-serach-wrapper .type p,
    .po-serach-wrapper .price p {
        padding: 5px;
    }
}
@media (min-width: 575px) and (max-width: 767px) {
    .po-serach-wrapper {
        max-width: 100%;
        left: -6px !important;
        margin-top: 67px !important;
    }
    .address p {
        padding: 5px !important;
    }
    .type p,
    .pt-search-wrapper .price p {
        border-bottom: 1px solid #747474;
    }
    .pt-search-wrapper .price p {
        padding: 5px 15px 4px !important;
    }
    .btn.btn-default.searchButton {
        margin: 5px 0 0 10px !important;
    }
    .pt-search-wrapper .type p {
        padding: 5px 5px 4px 5px !important;
    }
    .custom_search_size {
        margin-left: 0 !important;
    }
    .price p,
    .po-serach-wrapper input.ser {
        border-radius: 0px;
    }
}
@media (max-width: 575px) {
    .po-serach-wrapper {
        margin: 62px auto -16px !important;
    }
    .po-serach-wrapper.po-serach-wrapper-one.ak-form .serch_btn {
        margin-left: 0%;
    }
    .po-serach-wrapper.po-serach-wrapper-one.ak-form {
        display: flex;
    }
    .custom_search_size {
        max-width: 100%;
    }
    .po-serach-wrapper input.ser {
        width: 100% !important;
        border-bottom: 0 !important;
    }
    .address p, .address-map p {
        padding: 7px 3px;
        font-size: 13px;
    }
    .po-serach-wrapper input.ser {
        font-size: 13px;
        height: 33px;
        border-right: 1px solid #767676 !important;
    }
    .po-serach-wrapper.po-serach-wrapper-one.ak-form .type p {
        font-size: 13px;
        padding: 7px 3px;
    }
    .po-serach-wrapper.po-serach-wrapper-one.ak-form .address {
        border-bottom: none;
    }
    .po-serach-wrapper.po-serach-wrapper-one.ak-form .price p {
        font-size: 13px;
        padding: 7px 3px;
    }
    .po-serach-wrapper.po-serach-wrapper-one.ak-form .serch_btn {
        position: static;
    }
    .po-serach-wrapper.po-serach-wrapper-one.ak-form .serch_btn .searchButton {
        /* padding: 4px 11px; */
    }
    .po-search.pt-search {
        margin-top: -60px;
    }
    /* .index-check-type {
        left: -30px;
    } */
    #pt-check, #pt-amount {
        right: 0px;
    }
    .toc-two {
        padding-left: 0px;
        padding-right: 0px;
    }
}

#profile .owl-carousel .owl-stage {
    display: flex;
    justify-content: center;
}
#profile .pth-sold {
    margin-top: 25px;
}


.toc-two-left-one:before {
    display: none;
}
body {
     overflow-x: hidden;
}
#ui-id-1 {
     background-color: #fff;
     position: absolute !important;
     z-index: 1000;
     border-radius: 2px;
     border-top: 1px solid #d9d9d9;
     font-family: Arial,sans-serif;
     box-shadow: 0 2px 6px rgba(0,0,0,0.3);
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     overflow: hidden;
}
#ui-id-1 li {
     cursor: default;
     padding: 0 4px;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     line-height: 30px;
     text-align: left;
     border-top: 1px solid #e6e6e6;
     font-size: 11px;
     color: #999;
}
#custom-links-table-body .table-column a {
     max-width: 300px;
     overflow: hidden;
     display: block;
     white-space: normal;
     word-wrap: break-word; 
}
.header-link {
    display: none;
}
.inbox-notification, .referral-notification {
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}
.inbox-notification .badge, .referral-notification .badge {
    position: absolute;
    top: 0px;
    right: -2px;
    border-radius: 50%;
    background: red;
    color: white;
}
.display-picture img {
    height:35px; 
    margin-top: -10px;
}
#leads-form label {
    padding-right: 0px;
}
.mob-device{
    display: none ;
}
@media (max-width: 1200px) {
     .pht-agent-img img {
          width: 150px;
          height: 150px;
     }
     .pth-ser-link ul li:last-child a {
          margin-left: 0;
     }
     #nav-seller-tab {
          min-width: 100px;
     }
     .pth-content-wrapper {
          padding-left: 10px;
          padding-right: 10px;
     }
     #profile .owl-carousel .owl-stage {
          max-width: 100%;
     }
     .tags-section {
         width: calc(100% + 22px) !important;
         padding: 15px !important;
         margin: -61px -11px 35px !important;
     }
     .pth-sold-wrapper .pth-all-table {
          width: 100% !important;
          margin: 0 !important;
     }
}
@media (max-width: 767px) {
     .pth-content-number {
          height: 90px;
          width: 90px;
     }
     .pth-content-number span {
          padding: 33px 0;
          font-size: 18px;
     }
     .pth-content-circel p {
          font-size: 11px;
          margin-top: 9px;
     }
     .timestamps li a {
          font-size: 11px;
     }
     .pth-content-oval {
          margin-top: 0;
     }
     .tags-section {
          margin-bottom: 0 !important;
     }
     .container {
          max-width: 640px;
     }
     .pac-container {
          max-width: calc(100% - 30px) !important;
          width: calc(100% - 30px) !important;
          left: 15px !important;
          right: 15px !important;
     }
     #ui-id-1 {
          left: 15px !important;
          right: 15px !important;
          width: calc(100% - 30px);
     }
     .pth-agent-right-content {
          padding-left: 0;
     }
}

@media (max-width: 580px) {
     #profile .owl-carousel .owl-stage {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         align-items: center;
         width: 100% !important;
     }
     .owl-carousel .owl-item {
          width: 43% !important;
     }
}


@media (max-width: 767px) {
    .pt-modal {
       width: 100%;
       max-width: 100%;
    }    
   .dn2 {
       padding-left: 21px;
   }
   .dn2 .div_name {
       text-align: left;
   }
   .div_input {
       margin: 0;
       width: 100% !important;
       max-width: 100% !important;
       display: block !important;
       padding: 0 !important;
   }
   .lightbox-container {
       width: calc(100% - 30px);
   }
   .link-lightbox-area {
       z-index: 99999999;
       max-width: 89.5%;
   }
}

/* my code */

a.subscribe{
    color: white !important;
  
    font-size: 20px;
   
}

/* .typearea button{
    height: 50px;
}  */

/* my code */

.formcard{
    /* height: 100px; */
    width: 280px;
    text-align: center;
    padding:40px 0px 20px 0px;
    border-radius: 10px;
    border: 2px solid rgb(80, 80, 209);
    border-top:20px solid blue ;
    background-color: rgb(218, 212, 212);
}

.formcard h4{
    font-weight: bold;
}

.formcard h5{
    padding: 5px 0px;
}

.Continue{
    width: 230px;
    background-color: blue !important;
   
}

.Continue a{
    color: white;
}

.Continue a:hover{
    color: white;
}

.pdiv{
    padding-top: 20px;
}

.pdiv p{
    margin: 0px;
    padding-bottom: 10px;
   
}


