.index-address-type, .ser-state-type {
    top: 50px!important;
    left: 0px!important;
}
.footer{
    position: fixed;
}
/* homepage video Block style */
.content-block-holder {
    position: relative;
    padding: 114px 0 0;
    margin: -114px 0 0;
}
.content-block {
    position: relative;
    padding: 80px 0 75px;
    margin: 0 0 120px;
}
.content-block:before {
    
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    max-width: 750px;
    height: 1px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.content-block .description {
    position: relative;
    max-width: 800px;
    padding: 0 15px;
    text-align: center;
    margin: 0 auto;
}
 video {
    
    height: auto;
    display: block;
    margin: 0 auto;
    margin:-20px auto auto auto; 
    max-width:900px;
    border: 1px solid #575757;
}
@media screen and (min-width:900px) {
    .po-world {
        padding: 130px 0 20px 0;
    }
}
@media screen and (max-width:1024px) {
    .content-block video{
    margin:-20px auto auto auto; 
    max-width:600px;
    }
}
@media screen and (max-width:600px) {
    .content-block video{ 
    max-width:480px;
    }
}
@media screen and (max-width: 575px) {
    .po-world {
        padding: 100px 0 0 0;
    }
    .po-serach-wrapper.po-serach-wrapper-one.ak-form .serch_btn .searchButton {
        padding: 5px 10px;
    }
}
@media screen and (max-width:480px) {
    .content-block video{
    max-width:400px;
    }
}
ul.mark-list {
    text-align: center;
    padding: 20px 0 0;
    margin: 0;
}
ul.mark-list li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}
ul.mark-list li:last-child{
    display: block;
}
ul.mark-list li i{
    color: #2baf4f;
    font-size: 21px;
    padding-right: 5px;
}

@media screen and (max-width: 1199px){
    ul.mark-list li:last-child{
    display: inline-block;
    }
}
@media screen and (max-width: 767px){
    .po-world {
        padding-bottom: 0 !important;
    }
}
@media (max-width: 767px) and (min-width: 575px){
    .po-serach-wrapper {
    max-width: 100%;
    left: -6px !important;
    margin-top: 30px !important;
    }
}
@media (max-width: 575px){
    .po-serach-wrapper {
    margin: 20px auto -16px !important;
    }
    ul.mark-list{
        font-size: 14px;
        line-height: 19px;
    }
}