/* unique list tab style starts here */
.unique-box{
    padding: 50px 0 50px;
}
.unique-box h2{
    margin: 0 0 35px;
}
.unique-box .fa-check-circle {
    color: #5dae48;
    font-size: 22px;
    padding-right: 30px;
}
.unique-box .unique-list{
    padding-left: 90px;
    font-size: 18px;
}
.unique-box .unique-list li{
    margin: 0 0 10px;
}
.unique-box .unique-list li span{
    font-weight: 400;
    display: inline-block;
}
.unique-box .unique-list li span.underline-text{
    text-decoration: underline;
}
.unique-box .unique-list strong{
    display: inline-block;
}
.unique-box .unique-list{
    padding-left: 60px;
}
.unique-box .unique-list .unique-sublist strong{
    float: left;
}
.unique-box .unique-list .unique-sublist span{
    overflow: hidden;
    font-size: 17px;
}
.unique-sublist {
    margin-left: 55px;
}
.description-div{
    display: none;
}
.minimize-description, .maximize-description{
    cursor: pointer;
}
.partner-heading {
    text-align: center;
    font-weight: 600;
    margin-bottom: 0px;
}
.partner-subheading {
    text-align: center;
    font-weight: 500;
}
.partner-input {
    width: 40%;
}
.cred-input {
    width: 60%;
}
#make-it-rain-btn
#make-it-rain-btn, #save-fb-cred-btn {
    border-color: #b6eeaf;
    background: #b6eeaf;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 70px;
}
#make-it-rain-btn:hover, #save-fb-cred-btn:hover {
    color: rgba(var(--color-highlight), 1.5)
}
.nav-tabs .nav-link{
    width: 13%;
}
.tab-holder p{font-size: 14px;}
.tab-holder {
    padding: 50px 0 ;
    color: #000;
}
form#ambsadform .input-holder:first-child{
    width: 70%;
    float: left;
}
form#ambsadform .input-holder:last-child{
    width: 20%;
    float: left;
    margin: 0 0 0 10px;
}
form#ambsadform input {
    display: inline-block;
    width: 100%;
    border:1px solid #ccc;
}
form#ambsadform input#ambasy-filter{
    text-align: center;
    background: #eee; 
    color: #948484;
}
.ambtable-holder header{
    overflow: hidden;
}
#ambasadar-table th,
#ambasadar-table td{
    border: 1px solid #ccc;
    height: 30px;
}
#ambasadar-table {
    margin: 10px 0;
}
.tab-footer {
    font-size: 14px;
    color: #000;
}
.tab-footer .result-counter{
    float: left;
    width: 50%;
}
.tab-footer .pagination-box{
    float: right;
    width: 30%;
}
.ambtable-holder #data-id{
    float: left;
}
.ambtable-holder #data-counter{
    float: right;
}
.pagination-box i{
    font-weight: 700;
}
.tab-footer{overflow: hidden;}
.tab-footer .result-counter {
    float: left;
    width: 80%;
}
.tab-footer .pagination-box
{
    float: right;
    width: 20%;
    text-align: right;
}
.pagination-box a {
    background: #eee;
    display: inline-block;
    padding: 2px 5px;
    color: #333;
    border: 1px solid #ccc;
    animation:  all ease-in 0.3s;
}
.pagination-box a:hover{
    color: #eee;
    background: #333;
}
@media (max-width: 600px ) {
    .unique-box {
        padding: 20px 0 20px;
    }
    .unique-box h2 {
        margin: 0 0 20px;
        font-size: 26px;
    }
    .unique-box i {
        color: #5dae48;
        font-size: 18px;
        padding-right: 10px;
        display: inline;
    }
    .unique-box .unique-list li {
        margin: 0 0 5px;
    }
    .unique-box .unique-list {
        padding-left: 10px;
    }
    .container-fluid {
        padding: 0 10px;
    }
    .unique-box .unique-list li span {
        display: inline;
    }
    .nav-tabs .nav-link {
        width: 35%!important;
    }
    .tab-holder {
        padding: 30px 0;
        color: #000;
    }
}