#wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.report-card-area {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	padding: 0;
	margin: 0 -86px;
}

.report-card-area .container {
	position: relative;
	max-width: 1900px;
	padding: 0 15px;
	margin: 0 auto;
}

.report-card-area .heading-wrap {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 15px 25px;
}

.report-card-area .title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	display: block;
	color: #3c3c3c;
}

.report-card-area .link {
	display: block;
}

.report-card-area .link a {
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	text-decoration: none;
	color: #4690fc;
}

.report-card-area .link a:hover {
	color: #045ad8;
}

.report-card-area .report-row {
	border-bottom: 1px solid #a3a3a3;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 92px 15px 15px;
}

.report-card-area .block-col {
	position: relative;
	padding: 0 15px;
	margin: 0 0 40px;
	width: 20%;
}

.report-card-area .block {
	position: relative;
	background: url(../img/card-bg.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 144px;
}

.report-card-area .heading {
	position: relative;
	display: block;
	width: 151px;
	margin: 0 auto;
	top: -30px;
	font-weight: 700;
	left: 2px;
	font-size: 21px;
	line-height: 1.1;
	text-transform: uppercase;
	text-align: center;
}

.report-card-area .heading img {
	display: block;
	width: 100%;
	height: auto;
}

.report-card-area .text,
.report-card-area .percantege {
	font-weight: 700;
	font-size: 25px;
	line-height: 16px;
	color: #000;
	display: block;
	text-align: center;
	margin: -8px 0 27px;
}

.link-lightbox-area .form-control:-moz-placeholder {
	color: #ccc;
	opacity: 1;
}

.link-lightbox-area .form-control::-moz-placeholder {
	color: #ccc;
	opacity: 1;
}

.link-lightbox-area .form-control:-ms-input-placeholder {
	color: #ccc;
}

.link-lightbox-area .form-control::-webkit-input-placeholder {
	color: #ccc;
}

.lightbox-active,
.success-active {
	height: 100%;
	overflow: hidden;
}

.lightbox-active #wrapper,
.success-active #wrapper {
	height: 100%;
}

.link-lightbox-area {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(207, 207, 207, .7);
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-25px);
	-ms-transform: translateY(-25px);
	transform: translateY(-25px);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	overflow: auto;
}

.lightbox-active .link-lightbox-area {
	opacity: 1;
	visibility: visible;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.link-lightbox-area .link-lightbox-holder {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
}

.link-lightbox-area .link-lightbox-wrap {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

.link-lightbox-area .link-detail {
	position: relative;
	background: #fff;
	border: 1px solid #000;
	padding: 30px 40px 35px;
}

.link-lightbox-area .heading {
	font-size: 24px;
	line-height: 27px;
	display: block;
	color: #000;
	font-weight: 700;
	margin: 0 0 30px;
}

.link-lightbox-area .heading a {
	position: relative;
	display: inline-block;
	vertical-align: top;
	color: #000;
}

.link-lightbox-area .heading a:hover {
	opacity: .8;
}

.link-lightbox-area .step-area {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: #000;
}

.link-lightbox-area .step-wrap {
	position: relative;
	width: 365px;
}

.link-lightbox-area .step-wrap:first-child {
	width: 475px;
}

.link-lightbox-area .step-wrap .title {
	font-size: 24px;
	line-height: 1.1;
	display: block;
	margin: 0 0 20px;
	font-weight: 400;
}

.link-lightbox-area .field-holder {
	position: relative;
	margin: 0 0 25px;
}

.link-lightbox-area .wrap {
	position: relative;
	padding: 0 0 0 50px;
	margin: 0 0 25px;
}

.link-lightbox-area .label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	color: #000;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 10px;
}

.link-lightbox-area .input-holder {
	position: relative;
	border: 1px solid #000;
	height: 48px;
}

.link-lightbox-area .input-holder.city {
	width: 330px;
}

.link-lightbox-area .input-holder.code {
	width: 225px;
}

.link-lightbox-area .form-control {
	color: black;
	border: none;
	background: none;
	width: 100%;
	height: 100%;
	padding: 5px 15px;
	outline: none;
	box-shadow: none;
	font-size: 22px;
	line-height: 26px;
}

.link-lightbox-area .input-wrap {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 20px 0 0;
}

.link-lightbox-area .input-wrap .input-holder {
	width: 154px;
}

.link-lightbox-area .input-wrap .input-holder:first-child {
	width: 248px;
}

.link-lightbox-area .radio-wrap {
	position: absolute;
	left: 0;
	top: 0;
}

.link-lightbox-area .radio-wrap label {
	display: block;
	margin: 0;
	width: 26px;
	height: 26px;
	border: 2px solid #000;
	background: #fafafa;
	border-radius: 50%;
}

.link-lightbox-area .radio-wrap label:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #000;
	margin: -8px 0 0 -8px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	opacity: 0;
	visibility: hidden;
}

.link-lightbox-area input[type="radio"] {
	position: fixed;
	opacity: 0;
	visibility: hidden;
}

.link-lightbox-area input[type="radio"]:checked + label:before {
	opacity: 1;
	visibility: visible;
}

.link-lightbox-area .fake-select {
	position: relative;
	display: block;
}

.link-lightbox-area .fake-select:before {
	content: "";
	border-style: solid;
	border-width: 13px 12px 0;
	border-color: #000 transparent transparent;
	pointer-events: none;
	position: absolute;
	right: 15px;
	top: 20px;
}

.link-lightbox-area .fake-select select {
	border: 1px solid #000;
	width: 100%;
	height: 48px;
	font-size: 22px;
	line-height: 26px;
	padding: 5px 15px;
	color: black;
	-moz-appearance: none;
	-webkit-appearance: none;
}

#q-address-city, #q-address-city-div .select {
    width: 160%;
}
#q-address-city-div .fake-select::before {
    right: -65px;
}

.link-lightbox-area input[type="submit"] {
	display: block;
	border: none;
	margin: 0 auto;
	width: 200px;
	height: 65px;
	background: #6592fc;
	box-shadow: none;
	outline: none;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	color: #000;
	border-radius: 12px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1;
}

.link-lightbox-area input[type="submit"]:hover {
	background: #054df6;
}

select::-ms-expand {
	display: none;
}

.lightbox-container {
	position: relative;
	max-width: 1020px;
	width: 100%;
	margin: 0 auto;
	padding: 22px 15px;
}

.success-link-wrap {
	position: relative;
	display: block;
	text-align: center;
	padding: 30px 15px;
}

.success-link {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: underline;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #000;
}

.success-link:hover {
	text-decoration: none;
	opacity: .8;
}

.success-lightbox-area {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(207, 207, 207, .7);
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-25px);
	-ms-transform: translateY(-25px);
	transform: translateY(-25px);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	overflow: auto;
}

.success-active .success-lightbox-area {
	opacity: 1;
	visibility: visible;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.success-lightbox-area .success-lightbox-holder {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
}

.success-lightbox-area .success-lightbox-wrap {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

.success-lightbox-area .success-detail {
	position: relative;
	background: #fff;
	border: 1px solid #000;
	padding: 40px;
}

.success-lightbox-area .heading {
	font-size: 24px;
	line-height: 27px;
	display: block;
	color: #000;
	font-weight: 700;
	margin: 0 0 70px;
}

.success-lightbox-area .heading a {
	position: relative;
	display: inline-block;
	vertical-align: top;
	color: #000;
}

.success-lightbox-area .heading a:hover {
	opacity: .8;
}

.success-lightbox-area .tick-icon {
	display: block;
	width: 143px;
	height: 131px;
	margin: 0 auto 30px;
	background: url(../img/tick.png) no-repeat;
	background-size: cover;
}

.success-lightbox-area .success-msg {
	position: relative;
	text-align: center;
	margin: 0 0 60px;
}

.success-lightbox-area .success-msg .text {
	display: block;
	color: #000;
	font-size: 20px;
	line-height: 1.1;
}

.success-lightbox-area .success-title {
	font-size: 24px;
	line-height: 27px;
	display: block;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 25px;
}

.success-lightbox-area .website-address {
	position: relative;
	width: 730px;
	padding: 0 148px 0 0;
	margin: 0 auto 15px;
}

.success-lightbox-area .website-address input {
	width: 100%;
	height: 70px;
	padding: 10px 15px;
	color: #000;
	border-radius: 5px;
	border: 2px solid #dfdfdf;
	background: #fff;
	font-size: 20px;
	line-height: 24px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.success-lightbox-area .website-address .copy-link {
	border: 2px solid #dfdfdf;
	border-radius: 5px;
	position: absolute;
	right: 0;
	top: 0;
	height: 70px;
	width: 130px;
	color: #eaefee;
	text-transform: uppercase;
	color: #ccc;
	text-align: center;
	padding: 22px 10px;
	font-size: 20px;
	line-height: 1.1;
	background: #eceeed;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	font-weight: 700;
	text-decoration: none;
}

.success-lightbox-area .website-address .copy-link:hover {
	background: #b6beba;
	color: #fff;
}

.success-lightbox-area .form-control:-moz-placeholder {
	color: #000;
	opacity: 1;
}

.success-lightbox-area .form-control::-moz-placeholder {
	color: #000;
	opacity: 1;
}

.success-lightbox-area .form-control:-ms-input-placeholder {
	color: #000;
}

.success-lightbox-area .form-control::-webkit-input-placeholder {
	color: #000;
}

.field-2 {
	display: flex;
	justify-content: space-between;
}
.field-2 .select-holder {
	width: 47%;
}

@media (max-width: 1199px) {
	
	.report-card-area .block {
		width: 100%;
		height: 115px;
	}

	.report-card-area .heading {
		width: 131px;
		top: -21px;
		left: 0px;
		font-size: 18px;
		line-height: 1.1;
	}

	.report-card-area .text,
	.report-card-area .percantege {
		font-size: 18px;
		margin: -3px 0 12px;
	}

	.link-lightbox-area .step-wrap {
		width: 320px;
	}

	.link-lightbox-area .step-wrap:first-child {
		width: 460px;
	}

	.link-lightbox-area .input-holder.city {
		width: 280px;
	}

	.link-lightbox-area .input-holder.code {
		width: 200px;
	}

	.link-lightbox-area .input-wrap .input-holder {
		width: 32%;
	}

	.link-lightbox-area .input-wrap .input-holder:first-child {
		width: 65%;
	}
}

@media (max-width: 1023px) {
	.link-lightbox-area .step-area {
		display: block;
	}

	.link-lightbox-area .step-wrap {
		width: 100%;
	}

	.link-lightbox-area .step-wrap:first-child {
		width: 100%;
		margin: 0 0 50px;
	}

	.success-lightbox-area .website-address {
		width: 650px;
	}
}
@media (max-width: 992px) {
	.report-card-area .report-row {
		flex-wrap: wrap;
	}
	.report-card-area .block-col {
		width: 27%;
	}
}

@media (max-width: 767px) {
	.report-card-area {
		padding: 35px 0 0;
	}
	

	.report-card-area .heading-wrap {
		display: block;
		padding: 0 0 15px;
	}

	.report-card-area .title {
		font-size: 20px;
		line-height: 24px;
		margin: 0 0 8px;
	}

	.report-card-area .link a {
		font-size: 16px;
		line-height: 20px;
	}

	.report-card-area .report-row {
		padding: 15px 15px 5px;
	}

	.report-card-area .heading {
		width: 120px;
	}
	.report-card-area .block-col {
		width: 42%;
	}
	.report-card-area .block {
		height: 131px;
	}
	.link-lightbox-area .link-detail {
		padding: 25px 15px;
	}

	.link-lightbox-area .heading {
		font-size: 18px;
		line-height: 22px;
		margin: 0 0 15px;
	}

	.link-lightbox-area .step-wrap:first-child {
		margin: 0 0 30px;
	}

	.link-lightbox-area .wrap {
		padding: 0 0 0 35px;
		margin: 0 0 15px;
	}

	.link-lightbox-area .input-holder.city {
		width: 100%;
	}

	.link-lightbox-area .input-holder.code {
		width: 100%;
	}

	.link-lightbox-area .input-wrap {
		display: block;
	}

	.link-lightbox-area .input-wrap .input-holder {
		width: 100%;
	}

	.link-lightbox-area .input-wrap .input-holder:first-child {
		width: 100%;
		margin: 0 0 20px;
	}

	.link-lightbox-area input[type="submit"] {
		height: 50px;
		width: 175px;
		font-size: 18px;
		border-radius: 8px;
	}

	.success-lightbox-area .success-detail {
		padding: 25px 15px;
	}

	.success-lightbox-area .heading {
		font-size: 18px;
		line-height: 22px;
		margin: 0 0 15px;
	}

	.success-lightbox-area .tick-icon {
		width: 100px;
		height: 90px;
		margin: 0 auto 15px;
	}

	.success-lightbox-area .success-msg {
		margin: 0 0 30px;
	}

	.success-lightbox-area .success-msg .text {
		font-size: 16px;
	}

	.success-lightbox-area .success-title {
		font-size: 18px;
		line-height: 22px;
		margin: 0 0 15px;
	}

	.success-lightbox-area .website-address {
		width: 100%;
		text-align: center;
		padding: 0;
	}

	.success-lightbox-area .website-address input {
		height: 48px;
		font-size: 16px;
		line-height: 20px;
	}

	.success-lightbox-area .website-address .copy-link {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin: 15px 0 0;
		height: 48px;
		padding: 15px 5px;
		font-size: 16px;
	}
}
@media (max-width: 575px) {
	.report-card-area .block-col {
		width: 100%;
	}
	.report-card-area .block {
		width: 171px;
		height: 131px;
	}
	.report-card-area .block-col {
		display: flex;
		justify-content: center;
	}
}


.s-hidden {
    visibility:hidden;
}
.select {
    cursor:pointer;
    display:inline-block;
    position:relative;
    color:black;
    width: 100%;
    border: 1px solid #000;
}
.styledSelect {
    position: absolute;
	top: 8px;
	right: 0;
	bottom: 0;
	left: 14px;
	font-size: 22px;
	color: black;
	}
.options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    border:1px solid #ccc;
    background-color:white;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.options li {
    margin:0;
    padding: 8px 10px;
}
.options li:hover {
    background-color:#39f;
    color:white;
}
.link-lightbox-area .form-control {
	border-radius: 0px;
}