.slider {
    margin-top: 0px;
}
.reviews-slider {
	max-width: 100%;
}
.review-wrapper button {
    margin-left: 0px;
}

#remove-profile-image{
    display:none;
    background-color:lightgray;
    padding-left:9px;
    padding-right:9px;
    border-radius:5px; 
    position:absolute;
    left:100%;
    z-index: 10;
}
#remove-profile-image:hover{
    cursor: pointer;
}
.dataTables_info {
    float: left;
}
#review-listing_wrapper {
    border-bottom: 1px solid #ACACAD;
}