.hide {
    display: none !important;
}

.reports-inner {
    cursor: pointer;
}

/************* New style **********************/

.inbox_main {
    background-color: #DADADA;
    overflow: auto;
}
.inbox {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #999898;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.box-left {
    overflow-y: auto;
    height: 86vh;
}
.box-left-content {
    padding: 20px 10px;
    border-bottom: 1px solid #eee;
}
.box-left-content h1 {
    font-size: 18px;
    display: inline-block;
    font-weight: 700;
}
.box-left-content span {
    display: inline-block;
    float: right;
}

/* width */
.box-left::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.box-left::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.box-left::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.box-left::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.box-right {
    padding: 30px 20px;
}
.box-right h1 {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
}
.box-right span {
    display: inline-block;
    float: right;
}
.box-right p {
    font-size: 22px;
    margin-bottom: 5px;
}
.box-right-content {
    margin-top: 50px;
}
.box-right-border {
    border-right: 1px solid #777676;
}
.box-right-inner h1 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    display: block;
}
.box-right-inner p {
    font-size: 18px;
    margin-bottom: 17px;
}
.nav-tabs .nav-link {
    color: #3C3C3C;
    border: none;
    padding: 10px;
    width: 10%;
}
.nav-tabs .nav-link.active {
    color: black;
    font-weight:bold;
    background-color: #95C6FF;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #BEBDBD;
    border-radius: 0;
}
.reports-content {
    margin-top: 30px;
}
.custom-nav .nav-item {
    width: 25%;
}
.reports-box {
    border: 1px solid;
    padding: 15px 10px;
    margin-right: 30px;
    text-align: center;
    height: 100px;
    max-height: 130px;
    color: #3C3C3C;
}
.inbox-active {
    background-color: #C4C4C4;
    color: black;
}
.location-active {
    background-color: #95C6FF;
    color: black;
}
.active > .report-active {
    background-color: #95C6FF;
    color: black;
}
.top-nav {
    text-align: center;
}

.nav-link {
    padding: 0;
}
.reports {
    width: 100%;
}
.reports-box h1 {
    font-size: 18px;
}
.reports-box h2 {
    font-size: 30px;
    font-weight: 700;
}
.reports-box-left {
    margin-top: 30px;
    border: 1px solid;
}
.reports-box-left-title {
    border-bottom: 1px solid black;
    padding: 10px 10px;
}
.reports-box-left-title h1 {
    margin: 0px auto;
    font-size: 25px;
    font-weight: 700;
}
.reports-inner p {
    padding: 10px 10px;
    margin: 0;
    font-size: 20px;
}
.reports-inner i {
    float: right;
    display: inline-block;
    padding-top: 5px;
}
.date-filter {
    text-align: right;
    padding: 0.5rem 1rem;
}
.date-filter select {
    padding: 7px 25px;
    border-radius: 3px;
}
.reports-inner {
    border-right: 1px solid #eee;
}
.nav-tabs {
    border-bottom: 1px solid #B1B0B0;
}
.chart-right {
    border: 1px solid #D9D9D9;
    margin-bottom: 15px;
}
.chart-right h1 {
    font-size: 18px;
    padding: 5px;
}

@media (max-width: 767px ) {

    .box-right-inner {
        border-right: none;
    }
    .custom-nav .nav-item {
        width: 50%;
        margin-bottom: 10px;
    }
    .reports-inner {
        border-right: 0;
    }
    .nav-tabs .nav-link {
        width: 33%;
    }
}