
/*
====================================
Medium Screen - Others
====================================
*/

@media screen and (max-width: 767px) {

    .ak-table table {
        margin-top: 80px;    

    }
    .ak-price {
        border: none!important;
    }
    .searchbar {
        margin-bottom: auto;
        margin-top: auto;
        height: 45px;
        background-color: #134E60;
        /* border-radius: 0px; */
        border-radius: 8px 8px 0px 0px;
        padding: 0px;
    }
    .searchbar:hover > .search_input {
        padding: 2px 8px;
    }
    .form-check.location {
        padding: 2px 0px 0px 8px;
    }
    .pth-sold {
        padding-top: 0px !important;
        /* padding-bottom: 0px !important; */
        padding-bottom: 15px !important;
    }
    .pth-sold-content ul li span {
        width: 20px !important;
        height: 20px !important;
    }
    .form-check.location input[type="checkbox"] {
        left: 3px !important;
    }
}

@media screen and (min-width: 770px) {
    .ser-butt button {
        /* background-color: #E0A900; */
        background-color: none;
        border-radius: 8px;
        color:  #3C3C3C;
        border: none;
        outline: none;
        font-size: 24px;
        padding: 3px 22px;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        position: relative;
        left: -15px;
        /*    top: 8px;*/

    }


}


@media screen and (min-width: 992px) and (max-width: 1200px) {

    .pt-search-wrapper .ser-butt button {
        padding: 5px 17px;

        /*margin-top: -3px;*/
    }
    .po-serach-wrapper input.ser {
        width: 435px;
    }
    .po-we-one img {
        width: 60px;
    }
    .po-we-two img {
        width: 60px;
    }
    .po-since-one h6 {
        font-size: 16px;
    }
    .po-since-one span {
        font-size: 38px;
    }
    .po-since-one p {
        font-size: 18px;
    }
    .po-maps-left input {
        width: 82%;
    }
    .po-maps-right iframe {
        height: 280px;
    }
    .pt-search-wrapper {
        width: 473px;
    }
    .pt-search-wrapper .price p {
        padding: 5px 12px;
    }
    .pt-search-wrapper .type p {
        padding: 5px 15px;
    }
    .pt-search-wrapper input.ser {
        width: 186px !important;
        text-overflow: ellipsis;
    }
    .pht-agent-img img {
        width: 140px;
        height: 140px;
    }
    .pht-agent-img {
        margin-right: 20px;
    }
    .pth-agent-link {
        /* margin-top: 25px;
        margin-left: 0; */
        margin-top: 0px;
        margin-left: 163px;
    }
    .pth-agent-right-content {
        padding-left: 0;
    }
    .pht-agent-heaidng h4 {
        text-align: center;
        font-size: 18px;
    }
    .pth-agent-radio label {
        width: 127px;
    }
    .last-label {
        padding-left: 23px;
        padding-right: 18px;
        margin-left: 14px !important;
    }
    .pth-content-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
    .pth-content-circel p {
        font-size: 17px;
    }
    .pth-content-circel h6 {
        font-size: 14px
    }
    .card-one-bodyer label {
        display: block;
        width: 100%;
        margin-left: 0px;
        padding-right: 0px;
        font-size: 12px;
        padding-top: 10px;
    }
    .card-one-bodyer label {
        display: block;
        width: 100%;
        margin-left: 0px;
        padding-right: 0px;
    }
    .pth-agent-two-left {
        float: none;
        width: 100%;
    }
    .pth-agent-two-left input {
        width: 100%;
        height: 36px;
    }
    .pth-agent-two-left label {
        font-size: 12px;
    }
    .pth-agent-two-right-button button {
        position: inherit;
    }
    .pth-three-agent-content {
        width: 100%;
    }
    .type p {
        width: 128px;
        font-size: 16px;
        padding: 8px 0px;
    }
    .price p {
        font-size: 16px;
    }
    .pth-ser-link ul li:last-child a {
        margin-left: -159px;
    }
    .three-serve ul li a {
        font-size: 12px;
        padding-top: 10px;
    }
    .op-what-right h4#shepa:after {
        content: none;
    }
    .op-what-right h4 {
        font-size: 20px;
    }
    .pth-agent-two-right-button a {
        position: initial;
    }
    .fixed input.ser {
        display: inline-block;
        width: 154px;
    }
    .fixed .ser-butt button {
        font-size: 24px;
        position: relative;
        /*top: 3px;*/
        padding: 2px 24px;
    }
    .black {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .8)
    }
    .fixed {
        margin-top: 9px;
    }
    .po-we-three img {
        width: 47px;
    }
    .po-maps-wrapper-two input.ser {
        width: 206px;
        padding: 0px !important;
    }
    .bau-am input {
        width: 47%;
        display: inline-block;
    }
    .po-maps-wrapper-two .ser-butt {
        margin-top: -3px;
    }
    .user-icon {
        margin-left: 120px !important;
    }

    .ak-form {    
        margin-top: 18px;
    }

}


/*
====================================
Small Screen - Tablate
====================================
*/

@media screen and (min-width: 768px) and (max-width: 991px) {

    .ak-po {
        box-shadow: none!important;
    }

    .po-world-wrapper h2 {
        font-size: 30px;
    }
    .po-serach-wrapper input.ser {
        width: 362px;
        text-overflow: ellipsis;
    }
    .po-we-one span {
        font-size: 16px;
    }
    .po-we-one img {
        width: 70px;
    }
    .po-we-two img {
        width: 70px;
    }
    .po-we-three img {
        width: 50px;
    }
    .po-we-two span {
        font-size: 16px;
    }
    .po-we-one p {
        font-size: 14px;
    }
    .po-since-one {
        margin-bottom: 25px;
    }
    .po-maps-left h3 {
        font-size: 20px;
    }
    .po-maps-left input {
        font-size: 15px;
        width: 69%;
    }
    .po-maps-left button {
        padding: 9px 18px;
    }
    .po-maps-right iframe {
        height: 250px;
    }
    .footer {
        height: 150px;
        margin-top: 15px;
    }
    .pt-search-wrapper {
        position: initial;
        width: 100%;
    }
    .pt-tab {
        margin-top: 26px;
    }
    .pt-search-wrapper input.ser {
       /* width: 100%!important;
         display: block; */
        display: inline-block;
        width: 300px !important; 
        text-overflow: ellipsis;
        /* border: 1px solid #E5E5E5 !important; */
        border-radius: 8px;
        padding: 10px 15px;
        /* margin-bottom: 15px; */
        margin: 0px 25px;
    }
    .pt-search-wrapper .type {
        /* width: 49%;
        border: 1px solid #E5E5E5 !important;
        border-radius: 8px;
        padding: 3px 15px; */
        width: 128px;
        border-left: 1px solid;
        border-right: 1px solid;
    }
    .pt-search-wrapper .type p {
        border: none;
        padding-left: 0;
        display: block;
        width: 100%;
    }
    .pt-search-wrapper .price {
        /* width: 49%;
        border: 1px solid #E5E5E5 !important;
        border-radius: 8px;
        padding: 3px 15px;
        float: right; */
        width: 128px;
    }
    .pt-search-wrapper .price p {
        border: none;
        padding-left: 0;
        display: block !important;
        width: 100%;
        text-align: center;
    }
    .pt-search-wrapper .ser-butt {
        /* display: block;
        width: 97%;
        margin: 33px -8px 0px 0px; */
        display: inline-block;
        position: inherit;
    }
    .pt-search-wrapper .ser-butt button {
        display: block;
        width: 100%;
        padding: 5px 15px;
    }
    .toc-two-right {
        padding-right: 25px;
    }
    .pt-modal {
        width: 95%;
        margin: auto;
    }
    .two-link-left {
        display: none;
    }
    .two-link-modal-heading h2 {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .two-link-right td {
        font-size: 12px;
    }
    .two-link-right input {
        padding: 8px 15px;
    }
    .two-link-right label {
        font-size: 12px;
    }
    .btn-text p {
        font-size: 10px;
        margin-bottom: 0;
    }
    .button-shape button {
        font-size: 12px;
        width: 86px;
        height: 40px;
        margin-left: 3px;
    }
    .pt-modal .modal-content {
        padding: 10px 0px;
    }
    .pht-agent {
        margin-top: 40px;
    }
    .pht-agent-img img {
        width: 100px;
        height: 100px;
    }
    .pht-agent-img {
        float: left;
        margin-right: 16px;
    }
    .pth-agent-content h3 {
        font-size: 25px;
        margin-bottom: 8px;
    }
    .pth-agent-content {
        margin-top: 22px;
    }
    .pth-agent-link {
        /* margin-top: 20px;
        margin-left: 0; */
        margin-top: 0px;
        margin-left: 118px;
    }
    .pht-agent-img.toc-two-left-one:before {
        width: 50px;
        height: 50px;
    }
    .pth-agent-link ul li a {
        width: 176px;
    }
    .pth-agent-heading p {
        margin-bottom: 25px;
        margin-left: 6px;
    }
    .pth-agent-right-content {
        padding-left: 0px;
    }
    .pht-agent-heaidng h4 {
        font-size: 18px;
        text-align: center;
    }
    .pht-agent-content {
        padding: 18px 14px;
    }
    .pht-agent-content h5 {
        font-size: 17px;
    }
    .pth-agent-radio label {
        width: 125px;
    }
    .pth-agent-radio label {
        margin: 0px 10px
    }
    .last-label {
        display: block;
        padding-left: 20px;
        padding-right: 10px;
        margin-left: 14px !important;
    }
    .pth-content-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
    .pth-content-circel p {
        font-size: 16px;
    }
    .pth-content-circel h6 {
        font-size: 13px;
    }
    .pth-sold-maps iframe {
        height: 360px;
    }
    .pth-all-wrapper {
        padding-top: 48px;
    }
    .pth-all-table {
        width: 100%;
        white-space: nowrap;
        overflow: auto;
    }
    .pth-all-table table tr.table-heading td {
        font-size: 14px !important;
    }
    .pth-all-table table tr td {
        font-size: 14px;
    }
    .pth-all-table table tr td:first-child {
        font-size: 14px;
    }
    .card-one-bodyer label {
        display: block;
        width: 100%;
        margin-left: 0px;
        padding-right: 0px;
        font-size: 12px;
        padding-top: 10px;
    }
    .card-one-bodyer label {
        display: block;
        width: 100%;
        margin-left: 0px;
        padding-right: 0px;
    }
    .pth-agent-two-left {
        float: none;
        width: 100%;
    }
    .pth-agent-two-left input {
        width: 100%;
        height: 36px;
    }
    .pth-agent-two-left label {
        font-size: 12px;
    }
    .pth-agent-two-right-button button {
        position: inherit;
    }
    .pth-three-agent-content {
        width: 100%;
        padding: 0px 30px;
    }
    .type p {
        width: 128px;
        font-size: 16px;
    }
    .price p {
        font-size: 16px;
    }
    .pth-ser-link ul li a {
        font-size: 12px;
        padding-top: 10px;
    }
    .pth-ser-link ul li {
        width: 42%;
    }
    .pth-ser-link ul li:last-child a {
        margin-left: -146px;
    }
    .three-serve ul li a {
        font-size: 12px;
        padding-top: 10px;
    }
    .pth-agent-two-right-button a {
        position: initial;
    }
    .check-type {
        top: 41px;
    }
    .price-amount {
        right: 0px;
    }
    .index-check-type {
        top: 57px;
    }
    .fixed {
        position: initial;
        z-index: 0;
        margin-left: 0px;
    }
    .po-maps-wrapper-two input {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 6px;
    }
    .po-maps-wrapper-two .type {
        width: 49%;
        display: inline-block;
    }
    .po-maps-wrapper-two .type p {
        width: 100%;
        border: none;
        background-color: #fff;
        padding: 10px 0;
        /* border-radius: 6px; */
    }
    .po-maps-wrapper-two .price {
        width: 49%;
        display: inline-block;
        float: right;
    }
    .po-maps-wrapper-two .price p {
        width: 100%;
        border: none;
        background-color: #fff;
        padding: 10px 0;
        text-align: center;
        border-radius: 6px;
    }
    .po-maps-wrapper-two {
        margin-top: 30px;
        background: #134E60;
    }
    .po-maps-wrapper-two input.ser {
        display: block;
        width: 100%;
    }
    .po-maps-wrapper-two .ser-butt {
        display: block;
        width: 100%;
        float: none;
        overflow: hidden;
        margin-top: 15px;
    }
    .po-maps-wrapper-two .ser-butt button {
        display: block;
        width: 100%;
    }
    .bau1-cotent {
        top: 44px;
    }
    .bau-am {
        top: 45px;
        right: -8px
    }
    .bau-am input {
        width: 47%;
        display: inline-block;
    }
    .form-logo img {
        width: 140px;
    }
    .form-menu ul {
        position: relative;
        top: 5px;
    }
    .form-menu ul li a {
        font-size: 16px;
    }
    ul.user-icon {
        margin-left: 10px!important;
    }
    .about-wrapper textarea {
        width: 94%;
    }
}


/*
====================================
Small Screen - Mobile
====================================
*/

@media screen and (min-width: 576px) and (max-width: 767px) {

    
    .main-menu-part ul {
        margin: 10px 0px 20px 24%;
    }
    .main-menu-part ul li {
        display: block;
        float: none;
    }
    .main-menu-part ul li a {
        display: inline-block;
        padding: 6px 0px;
        font-size: 20px;
    }
    .navbar-brand img {
        width: 180px;
        position: absolute;
        top: 0;
        /*        right: 41%;*/
    }
    .header-area {
        padding: 15px 0px;
    }
    .po-world {
        padding: 40px 0;
    }
    .po-world-wrapper h2 {
        font-size: 16px;
    }
    .po-world-wrapper p {
        font-size: 12px;
        margin-top: 8px;
    }
    .po-serach-wrapper input.ser {
        display: block;
        width: 100%;
        font-size: 12px;
        border-radius: 6px;
        margin-bottom: 12px;
    }
    .po-serach-wrapper {
        background: #fff;
        box-shadow: none;
         border: 0;
        border-radius: 0; 
    }

    .type {
        /* width: 49%; */
        width: 128px;
    }
    .type p {
        border: 0;
        background-color: #fff;
        color: #575757;
        font-size: 12px;
        border-radius: 8px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 100%;
        /*box-shadow: 0 0 5px rgba(0,0,0,.2);*/
    }
    .price {
        width: 49%;
        background-color: #fff;
        border-radius: 6px;
        float: right;
    }
    .price p {
        border: 0;
        background-color: #fff;
        color: #575757;
        font-size: 12px;
        border-radius: 8px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 100%;
        /*box-shadow: 0 0 5px rgba(0,0,0,.2);*/
    }
    .ser-butt {
        display: block;
        position: inherit;
        /* width: 90%;
        margin-top: 12px; */
    }
    .ser-butt button {
        display: block;
        width: 100%;
        padding: 5px 28px;
    }
    .po-search {
        background: #fff;
        padding-bottom: 20px;
    }
    .price-amount {
        right: -7%;
        z-index: 200;
        top: 44px;
    }
    .po-what {
        padding: 35px 0;
    }
    .check-type {
        top: 44px;
    }
    .check-type h6 {
        font-size: 12px
    }
    .checkmark {
        height: 12.5px;
        width: 12.50px;
        top: 3px;
    }
    .check-box {
        padding-left: 25px;
        font-size: 12px;
    }
    .price-amount h6 {
        font-weight: normal;
        font-size: 12px;
    }
    .price-amount input {
        font-size: 12px;
        padding: 9px 10px;
    }
    .p-left ul li {
        font-size: 12px
    }
    .p-right ul li {
        font-size: 12px
    }
    .po-what-heading h3 {
        font-weight: bold;
        font-size: 16px;
    }
    .po-what-left {
        display: none;
    }
    .po-what-heading h3 {
        margin-bottom: 16px;
    }
    .op-what-right h4 {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .op-what-right p {
        font-size: 12px;
    }
    .po-agent-wrapper p {
        font-size: 16px;
    }
    .po-agent {
        padding: 40px 0;
    }
    .po-we-wrapper {
        padding: 40px 0;
    }
    .po-we-heading h4 {
        font-size: 16px;
        margin-bottom: 35px;
    }
    .po-we-one span {
        margin-right: 45px;
        display: block;
        font-size: 16px;
        width: 100%;
    }
    .po-we-one img {
        width: 75px;
        display: block;
        margin: auto;
    }
    .po-we-one {
        margin-bottom: 30px;
    }
    .po-we-one p {
        font-size: 12px;
    }
    .po-we-two span {
        margin-right: 0px;
        display: block;
        font-size: 16px;
        width: 100%;
    }
    .po-we-two img {
        width: 75px;
        display: block;
        margin: auto;
    }
    .po-we-two img.img-other {
        margin-right: 45px;
    }
    .po-we-two {
        margin-bottom: 30px;
    }
    .po-we-two p {
        font-size: 12px;
    }
    .po-we-three span {
        margin-right: 45px;
    }
    .po-we-three {
        margin-bottom: 0;
    }
    .po-filter {
        padding: 40px 0;
    }
    .po-filter-wrapper h4 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .po-filter-wrapper p {
        font-size: 12px;
        text-align: left;
    }
    .po-since {
        background-color: #134E60;
        padding: 40px 0;
    }
    .po-since-heading h4 {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .po-since-one span {
        font-size: 36px;
    }
    .po-since-one h6 {
        font-size: 12px;
    }
    .po-since-one p {
        font-size: 18px;
    }
    .po-since-one {
        margin-bottom: 12px;
    }
    .po-maps {
        padding: 40px 0;
    }
    .po-maps-left h3 {
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;
    }
    .po-maps-left p {
        text-align: center;
        font-size: 12px;
        margin-bottom: 20px;
    }
    .serach {
        border: 0;
        padding: 0;
        box-shadow: none;
    }
    .serach input {
        display: block;
        width: 100%;
        border: 1px solid #E5E5E5 !important;
        border-radius: 8px;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .po-maps-left button {
        display: block;
        float: none;
        width: 100%;
        padding: 10px 0;
        /* margin-top: 12px; */
    }
    .po-maps-right {
        display: none;
    }
    .footer {
        height: 123px;
    }
    .po-world-wrapper h2::after {
        height: 5px;
    }
    .op-what-right h4 span::after {
        bottom: 1px
    }
    .po-we-one span::after {
        bottom: 3px;
        height: 5px;
    }
    .po-we-two span::after {
        bottom: 3px;
        height: 5px;
    }
    .pt-search-wrapper {
        /* display: block; */
        display: flex;
        width: 100%;
        position: initial;
        padding: 0px 17px;
    }
    .pt-tab {
        margin-top: 0;
    }
    .pt-search,
    .pt-search-wrapper {
        background-color: #fff;
    }
    .po-serach-wrapper input.ser {
        border: 0px solid #E5E5E5 !important;
        display: block;
        width: 100% !important;
        padding: 12px 10px;
        box-shadow: 0 0 5px rgba(0,0,0,.2);
        margin-top: 0px !important;
    }
    .pt-search-wrapper .type,
    .pt-search-wrapper .price {
        /* border: 1px solid #E5E5E5 !important; */
        padding: 6px 0px;
        border-radius: 8px;
    }
    .pt-search-wrapper .type p,
    .pt-search-wrapper .price p {
        padding: 5px 10px;
    }
    .pt-tab-wrapper .nav-tabs .nav-link {
        font-size: 12px;
        padding: 7px 0px;
        margin: 0px 8px;
    }
    .pt-tab-wrapper .nav-tabs .nav-link.active {
        font-size: 17px;
        padding: 7px 0px;
    }
    .pt-tab-wrapper .nav-tabs {
        border-bottom: 0;
        display: flex;
        justify-content: center;
    }
    .pt-tab::after {
        top: 32px;
    }
    .toc-one p {
        display: none;
    }
    .toc-two {
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0;
    }
    .toc-two-left-two-heading-left h4 {
        font-size: 16px;
    }
    .toc-two-left-two-heading-left p {
        font-size: 12px;
    }
    .toc-two-left-two-heading-right p {
        font-size: 12px;
    }
    .toc-two-left-two-heading-right a {
        font-size: 20px;
    }
    .toc-two-left-two-heading-right {
        right: 14px;
        top: -20px;
        position: absolute;
    }
    .toc-two-left-two-list {
        display: none;
    }
    .toc-two-left-two-link {
        display: none;
    }
    .toc-two-left .col-4 {
        padding-right: 5px!important;
    }
    .toc-two-left-two {
        position: relative;
    }
    .toc-two-left-two-heading-left {
        position: absolute;
        top: 29px;
    }
    .sm-list {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 15px;
    }
    .sm-list .col-4 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .sm-list h3 {
        font-size: 21px;
    }
    .sm-list p {
        font-size: 12px;
    }
    .sm-list .toc-two-left-two-list-one {
        height: 82px;
        padding: 10px 0;
    }
    .sm-link ul li {
        display: inline-block;
    }
    .sm-link ul li a {
        display: inline-block;
        font-weight: 500;
        font-size: 12px;
        color: #4999B2;
        border: 1px solid #4999B2;
        border-radius: 8px;
        padding: 12px 36px;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
    }
    .sm-link ul li:last-child a {
        background-color: #4999B2;
        color: #fff;
        margin-left: 10px;
    }
    .sm-two-link ul li:last-child a {
        background-color: transparent;
        color: #4999B2;
    }
    .sm-link ul li a:hover {
        background-color: #4999B2!important;
        color: #fff!important;
    }
    .sm-link {
        margin-top: 20px;
    }
    .toc-two-right {
        display: none;
    }
    .sm-link {
        display: block;
    }
    .sm-list {
        display: block;
    }
    .pt-modal {
        width: 95%;
        margin: auto;
    }
    .two-link-left {
        display: none;
    }
    .two-link-modal-heading h2 {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .two-link-right td {
        font-size: 12px;
    }
    .two-link-right input {
        padding: 8px 15px;
    }
    .two-link-right label {
        font-size: 12px;
    }
    .btn-text p {
        font-size: 10px;
        margin-bottom: 0;
    }
    .button-shape button {
        font-size: 12px;
        width: 86px;
        height: 40px;
        margin-left: 3px;
    }
    .pt-modal .modal-content {
        padding: 10px 0px;
    }
    .pt-another-modal .modal-content {
        width: 360px;
        height: 240px;
        margin: auto;
    }
    .another-modal-content h2 {
        font-size: 21px;
    }
    .pth-agent-heading p {
        display: none;
    }
    .pht-agent-img img {
        width: 90px;
        height: 90px;
    }
    .pht-agent-img {
        margin-right: 20px;
    }
    .pth-agent-content h3 {
        font-weight: bold;
        font-size: 16px;
    }
    .pth-agent-content p {
        font-size: 12px;
    }
    .pth-agent-content h3 {
        margin-bottom: 10px;
    }
    .pth-agent-link {
        margin-top: 14px;
        margin-left: 0;
    }
    .pth-agent-content {
        margin-top: 18px;
    }
    .pth-agent-content p span {
        display: none;
    }
    .pth-agent-content p a {
        display: inline-block;
    }
    .pth-agent-link ul li a {
        font-size: 12px;
        width: 185px;
        height: 40px;
    }
    .pth-agent-link ul li:last-child a {
        width: 135px;
        height: 40px;
        background-color: #087B9E;
        color: #fff;
    }
    .pth-agent-right-content {
        padding-left: 0;
    }
    .pht-agent-heaidng h4 {
        font-size: 16px;
        text-align: center;
        margin-top: 35px;
    }
    .pht-agent-heaidng p {
        font-size: 12px;
    }
    .pht-agent-content h5 {
        font-weight: 500;
        font-size: 14px;
    }
    .pth-agent-radio label {
        width: 223px;
        height: 40px;
        margin: 0px 4px;
        font-size: 12px;
        padding-top: 11px;
    }
    .last-label {
        margin-left: 8px !important;
        padding-left: 85px;
    }
    .pht-agent {
        /*border-top: 1px solid #E5E5E5;*/
        padding-top: 20px;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 40px;
    }
    .pth-agent-content span {
        display: inline-block!important;
    }
    .pht-card-heading h3 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .pht-card .nav-tabs .nav-item {
        width: 50%;
    }
    .pht-card-tabs .nav-item a {
        padding: 11px 0px;
        font-weight: 500;
        font-size: 14px;
    }
    .pth-content-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .pth-content-number {
        width: 95px;
        height: 95px;
    }
    .pth-content-number span {
        font-size: 21px;
        padding: 33px 0px;
    }
    .pth-content-circel p {
        font-size: 12px;
        margin-top: 14px;
    }
    .pth-content-circel img.home-img {
        width: 38px;
        padding-top: 26px;
    }
    .pth-content-circel img.bul-img {
        width: 38px;
        padding-top: 26px;
    }
    .pth-content-circel h6 {
        font-size: 12px
    }
    .pth-content-oval {
        margin-top: 26px;
        padding-bottom: 0;
    }
    .pth-sold-content p span {
        display: inline-block;
    }
    .pth-sold-content p {
        font-size: 16px;
    }
    .pth-sold-content ul li {
        font-size: 12px;
        margin-left: 20px;
    }
    .pth-sold-content ul li span {
        width: 14px;
        height: 14px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .pth-sold-content ul li span {
        top: 2px;
        left: -5px;
    }
    .pth-sold {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .pth-sold-maps {
        margin-top: 5px;
    }
    .pth-sold-maps iframe {
        height: 266px;
    }
    .pth-all {
        margin-top: 35px;
    }
    .pth-all-heading h3 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 12px;
    }
    .pth-all-wrapper {
        padding-top: 25px;
        padding-bottom: 8px;
    }
    .pth-all-table table tr td {
        font-size: 12px;
        padding: 11px 12px;
    }
    .pth-all-table table tr.table-heading td {
        font-size: 12px!important;
    }
    .pth-all-table table tr td:first-child {
        font-size: 12px;
    }
    .pth-all-table table tr {
        border: 8px solid #fff;
    }
    .pth-more-left-heading h2 {
        font-size: 16px;
        margin-bottom: 22px;
    }
    .pth-more {
        margin-top: 30px;
    }
    .pth-all-table {
        width: 100%;
        white-space: nowrap;
        overflow: auto;
    }
    .pth-more-left-content p {
        font-size: 12px;
        margin-bottom: 6px;
    }
    .pth-more-left-content a {
        display: inline-block;
        font-size: 12px;
        color: #4999B2;
    }
    .pth-more-right-content h6 {
        font-size: 12px;
        line-height: 14px;
        color: #3C3C3C;
        margin-bottom: 6px;
    }
    .pth-more-right-content p {
        font-size: 12px;
    }
    .pth-more-right-one {
        margin-bottom: 10px;
        padding-left: 0;
    }
    .pth-more-right-content {
        margin-top: 20px;
    }
    .pth-more-right-content:before {
        content: "";
        width: 100%;
        height: 1px;
    }
    .pth-more-right-first {
        padding-top: 25px;
    }
    .check-box .checkmark::after {
        left: 2px;
        top: -1px;
    }
    .card-one-bodyer label {
        display: block;
        width: 100%;
        margin-left: 0px;
        padding-right: 0px;
    }
    .pth-agent-two-left {
        float: none;
        width: 100%;
    }
    .pth-agent-two-left input {
        width: 100%;
        height: 36px;
    }
    .pth-agent-two-left label {
        font-size: 12px;
    }
    .pth-agent-two-right-button button {
        position: inherit;
    }
    .pth-three-agent-content {
        width: 100%;
    }
    .pth-ser-link ul li a {
        font-size: 12px;
        padding-top: 10px;
    }
    .pth-ser-link ul li {
        width: 42%;
    }
    .pth-ser-link ul li:last-child a {
        margin-left: -214px;
    }
    .three-serve ul li a {
        font-size: 12px;
        padding-top: 10px;
    }
    .po-world-wrapper h2::after {
        content: "";
        display: none;
        width: 86%;
        height: 5px;
        background: rgba(242, 199, 68, 0.7);
        position: absolute;
        bottom: 5px;
        z-index: -5;
        left: 24px;
    }
    .op-what-right h4 span {
        position: relative;
    }
    .op-what-right h4 span:after {
        content: "";
        display: block;
        width: 86%;
        height: 5px;
        background: rgba(242, 199, 68, 0.7);
        position: absolute;
        bottom: 5px;
        z-index: -5;
        left: 4px;
    }
    .op-what-right h4#shepa:after {
        content: none;
    }
    .op-what-right h4::after {
        content: "";
        display: none;
        width: 100%;
        height: 5px;
        background: rgba(242, 199, 68, 0.7);
        position: absolute;
        bottom: 4px;
        z-index: -5;
        left: 0;
    }
    .pth-agent-two-right-button a {
        position: initial;
    }
    .fixed {
        position: initial;
        z-index: 0;
        margin-left: 0px;
    }
    p.am-price {
        margin-bottom: 0;
    }
    .bau-am {
        top: 42px;
        right: -15px;
    }
    .bau1-cotent {
        top: 42px;
    }
    /*===== from-page start=====*/
    .form-ulli-left {
        float: none!important;
        display: block;
    }
    .form-ulli-right {
        float: none!important;
        display: block;
        margin-left: 125px !important;
        top: -20px;
    }
    .drop {
        right: 16%;
        top: 38px;
        width: 300px;
        padding: 6px 15px;
    }
    .profile-heading h2 {
        margin-bottom: 16px;
    }
    .fn-right input {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .fn-right input:last-child {
        margin-left: 0!important;
        width: 100% !important;
    }
    .screen-name {
        margin-top: 8px;
        margin-left: 20px !important;
    }
    .sn-right input {
        display: block;
        width: 100%;
    }
    .li-right input {
        display: block;
        width: 100%;
    }
    .licence select {
        display: block;
        width: 100%;
        margin: 10px 0;
        padding-left: 10px;
    }
    .modal-size {
        display: block;
        margin: auto;
    }
    .owl-nav {
        display: none;
    }
    .form-name {
        margin-left: 25px!important;
    }
    .file {
        margin-left: 20px!important;
    }
    .up-photo img {
        margin: auto;
    }
    .licence {
        margin-left: 20px !important;
    }
    .li-right input {
        margin-bottom: 20px;
        width: 100% !important;
    }
    .highlight-wrpper {
        padding-left: 20px!important;
    }
    .slier-bordr {
        padding-left: 20px!important;
    }
    .about-submit {
        margin-left: 20px!important;
    }
    .about-wrapper textarea {
        margin-left: 20px!important;
        width: 95%;
    }
    .add-check select {
        width: 90%;
    }

    .dropdown {
        position: relative;
        top: -20px;
        left: 8px;
    }

    .toc-one ul {
        float: initial;
        position: initial;
        top: -26px;
        width: 230px;
        margin: auto;
        margin-top: 10px;

    }

    .toc-two-left-two-heading-left h4 a {
        font-size: 12px;
    }   

    .pt-tab-wrapper .nav-tabs .nav-link {
        padding: 7px 20px;

    }

    .ak-icontent {   
        margin-top: 45px;
        padding-top: 45px;
    }

    .toc-two-left-one img {
        display: block;
        width: initial;
        max-width: 100%;
        /* margin: auto; */
        margin-left: 10px;
        margin-top: 10px;
    }

    .toc-two-left-one::before {  
        top: -25px;
        left: 33%;
    }

    .toc-two-left {
        padding-top: 40px;

    }

    .ak-table table h5 {
        font-size: 16px;

    }
    .ak-table table td {
        padding: 3px;
    }

    .ak-table table td {
        font-size: 13px;
    }

    .pt-search {
        position: initial!important;
    }









}


/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/

@media screen and (max-width: 576px) {
    .navbar-brand img {
        width: 144px;
        position: absolute;
        /*        right: 37%;*/
        top: 5px;
    }
    .main-menu-part ul {
        margin: 10px 0px 20px 46px;
    }
    .main-menu-part ul li {
        display: block;
        float: none;
    }
    .main-menu-part ul li a {
        display: inline-block;
        padding: 5px 0px;
        font-size: 20px;
    }
    .header-area {
        padding: 15px 0px;
    }
    .po-world {
        padding: 40px 0;
    }
    .po-world-wrapper h2 {
        font-size: 16px;
    }
    .po-world-wrapper p {
        font-size: 12px;
        margin-top: 8px;
    }
    .po-serach-wrapper input.ser {
        display: block;
        width: 100%;
        font-size: 12px;
        border-radius: 6px;
        margin-bottom: 12px;
    }
    .po-serach-wrapper {
        background: #fff;
        box-shadow: none;
        border: 0;
        border-radius: 0;
    }
    .type {
        /* width: 49%; */
        width: 100px;
        padding: 5px;
    }
    .type p {
        border: 0;
        background-color: #fff;
        color: #575757;
        font-size: 12px;
        border-radius: 8px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 100%;
        /*box-shadow: 0 0 5px rgba(0,0,0,.2);*/
    }
    .price {
        /* width: 49%; */
        width: 100px;
        padding: 5px;
        background-color: #fff;
        border-radius: 6px;
        float: right;
    }
    .price p {
        border: 0;
        background-color: #fff;
        color: #575757;
        font-size: 12px;
        border-radius: 8px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 100%;
        /*box-shadow: 0 0 5px rgba(0,0,0,.2);*/
    }
    .ser-butt {
        /* display: block;
        width: 90%;
        margin-top: 18px; */
        position: inherit;
    }
    .ser-butt button {
        display: block;
        width: 100%;
        padding: 5px 28px;
    }
    .po-search {
        background: #fff;
        padding-bottom: 20px;
    }
    .price-amount {
        right: -7%;
        z-index: 200;
        top: 44px;
    }
    .po-what {
        padding: 60px 14px;
        text-align: justify;
    }
    .check-type {
        top: 44px;
    }
    .check-type h6 {
        font-size: 12px
    }
    .checkmark {
        height: 12.5px;
        width: 12.50px;
        top: 3px;
    }
    .check-box {
        padding-left: 25px;
        font-size: 12px;
    }
    .price-amount h6 {
        font-weight: normal;
        font-size: 12px;
    }
    .price-amount input {
        font-size: 12px;
        padding: 9px 10px;
    }
    .p-left ul li {
        font-size: 12px
    }
    .p-right ul li {
        font-size: 12px
    }
    .po-what-heading h3 {
        font-weight: bold;
        font-size: 16px;
    }
    .po-what-left {
        display: none;
    }
    .po-what-heading h3 {
        margin-bottom: 16px;
    }
    .op-what-right h4 {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 20px;
        display: initial;
    }
    .op-what-right p {
        font-size: 12px;
    }
    .po-agent-wrapper p {
        font-size: 16px;
    }
    .po-agent {
        padding: 40px 0;
    }
    .po-we-wrapper {
        padding: 40px 0;
    }
    .po-we-heading h4 {
        font-size: 16px;
        margin-bottom: 35px;
    }
    .po-we-one span {
        display: block;
        font-size: 16px;
        width: 100%;
    }
    .po-we-one img {
        width: 75px;
        display: block;
        margin: auto;
    }
    .po-we-one {
        margin-bottom: 30px;
    }
    .po-we-one p {
        font-size: 12px;
    }
    .po-we-two span {
        margin-right: 0px;
        display: block;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }
    .po-we-two img {
        width: 75px;
        display: block;
        margin: auto;
    }
    .po-we-two {
        margin-bottom: 30px;
    }
    .po-we-two p {
        font-size: 12px;
    }
    .po-we-three span {
        margin-right: 45px;
    }
    .po-we-three {
        margin-bottom: 0;
    }
    .po-filter {
        padding: 40px 0;
    }
    .po-filter-wrapper h4 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .po-filter-wrapper p {
        font-size: 12px;
        text-align: left;
    }
    .po-since {
        background-color: #134E60;
        padding: 40px 0;
    }
    .po-since-heading h4 {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .po-since-one span {
        font-size: 36px;
    }
    .po-since-one h6 {
        font-size: 12px;
    }
    .po-since-one p {
        font-size: 18px;
    }
    .po-since-one {
        margin-bottom: 12px;
    }
    .po-maps {
        padding: 40px 0;
    }
    .po-maps-left h3 {
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;
    }
    .po-maps-left p {
        text-align: center;
        font-size: 12px;
        margin-bottom: 20px;
        box-shadow: initial;
        /* box-shadow: 0 0 5px rgba(0,0,0,.2); */
    }
    .serach {
        border: 0;
        padding: 0;
        box-shadow: none;
    }
    .serach input {
        display: block;
        width: 100%;
        border: 1px solid #E5E5E5 !important;
        border-radius: 8px;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .po-maps-left button {
        display: block;
        float: none;
        width: 100%;
        padding: 10px 0;
        /* margin-top: 12px; */
    }
    .po-maps-right {
        display: none;
    }
    .footer {
        height: 123px;
    }
    .po-world-wrapper h2::after {
        height: 5px;
        top: 10px;
    }
    .op-what-right h4 span::after {
        bottom: 1px
    }
    .po-we-one span::after {
        bottom: 3px;
        height: 5px;
    }
    .po-we-two span::after {
        bottom: 3px;
        height: 5px;
    }
    .pt-search-wrapper {
        display: flex;
        width: 100%;
        position: initial;
    }
    .pt-tab {
        margin-top: 0;
    }
    .pt-search,
    .pt-search-wrapper {
        background-color: #fff;
    }
    .po-serach-wrapper input.ser {
        border: 0px solid #E5E5E5 !important;
        display: block;
        width: 100% !important;
        padding: 12px 10px;
        box-shadow: 0 0 5px rgba(0,0,0,.2);
        /* margin-top: 0px; */
        margin: 0px 15px;
    }
    .pt-search-wrapper .type,
    .pt-search-wrapper .price {
        /* border: 1px solid #E5E5E5 !important;
        padding: 6px 0px;
        border-radius: 8px; */
    }
    .pt-search-wrapper .type p,
    .pt-search-wrapper .price p {
        padding: 5px 10px;
    }
    .pt-tab-wrapper .nav-tabs .nav-link {
        font-size: 12px;
        padding: 7px 0px;
        margin: 0px 6px;
    }
    .pt-tab-wrapper .nav-tabs .nav-link.active {
        font-size: 12px;
        padding: 7px 20px;
    }
    .pt-tab-wrapper .nav-tabs {
        border-bottom: 0;
        display: flex;
        justify-content: center;
    }
    .pt-tab::after {
        top: 32px;
    }
    .toc-one p {
        display: none;
    }
    .toc-two {
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0;
    }
    .toc-two-left-two-heading-left h4 {
        font-size: 16px;
    }
    .toc-two-left-two-heading-left p {
        font-size: 12px;
    }
    .toc-two-left-two-heading-right p {
        font-size: 12px;
    }
    .toc-two-left-two-heading-right a {
        font-size: 20px;
    }
    .toc-two-left-two-heading-right {
        right: 14px;
        top: -20px;
        position: absolute;
    }
    .toc-two-left-two-list {
        display: none;
    }
    .toc-two-left-two-link {
        display: none;
    }
    .toc-two-left .col-4 {
        padding-right: 5px!important;
    }
    .toc-two-left-two {
        position: relative;
    }
    .toc-two-left-two-heading-left {
        position: absolute;
        top: 29px;
    }
    .sm-list {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 15px;
    }
    .sm-list .col-4 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .sm-list h3 {
        font-size: 21px;
    }
    .sm-list p {
        font-size: 12px;
    }
    .sm-list .toc-two-left-two-list-one {
        height: 82px;
        padding: 10px 0;
    }
    .sm-link ul li {
        display: inline-block;
    }
    .sm-link ul li a {
        display: inline-block;
        font-weight: 500;
        font-size: 12px;
        color: #4999B2;
        border: 1px solid #4999B2;
        border-radius: 8px;
        padding: 12px 36px;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
    }
    .sm-link ul li:last-child a {
        background-color: #4999B2;
        color: #fff;
        margin-left: 10px;
    }
    .sm-two-link ul li:last-child a {
        background-color: transparent;
        color: #4999B2;
    }
    .sm-link ul li a:hover {
        background-color: #4999B2!important;
        color: #fff!important;
    }
    .sm-link {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .toc-two-right {
        display: none;
    }
    .sm-link {
        display: block;
    }
    .sm-list {
        display: block;
    }
    .pt-modal {
        width: 95%;
        margin: auto;
    }
    .two-link-left {
        display: none;
    }
    .two-link-modal-heading h2 {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .two-link-right td {
        font-size: 12px;
    }
    .two-link-right input {
        padding: 8px 15px;
    }
    .two-link-right label {
        font-size: 12px;
    }
    .btn-text p {
        font-size: 10px;
        margin-bottom: 0;
    }
    .button-shape button {
        font-size: 12px;
        width: 86px;
        height: 40px;
        margin-left: 3px;
    }
    .pt-modal .modal-content {
        padding: 10px 0px;
    }
    .pt-another-modal .modal-content {
        width: 360px;
        height: 240px;
        margin: auto;
    }
    .another-modal-content h2 {
        font-size: 21px;
    }
    .pth-agent-heading p {
        display: none;
    }
    .pht-agent-img img {
        width: 90px;
        height: 90px;
    }
    .pht-agent-img {
        margin-right: 20px;
        margin-top: 22px;
    }
    .pth-agent-content h3 {
        font-weight: bold;
        font-size: 16px;
    }
    .pth-agent-content p {
        font-size: 12px;
    }
    .pth-agent-content h3 {
        margin-bottom: 10px;
    }
    .pth-agent-link {
        /* margin-top: 14px; */
        margin-top: -10px;
        margin-left: 100px;
    }
    .pth-agent-link ul {
        text-align: left;
    }
    .pth-agent-content {
        margin-top: 18px;
    }
    .pth-agent-content p span {
        display: none;
    }
    .pth-agent-content p a {
        display: inline-block;
    }
    .pth-agent-link ul li a {
        font-size: 12px;
        width: 185px;
        height: 40px;
    }
    .pth-agent-link ul li:last-child a {
        /* width: 135px;
        height: 40px; */
        width: 125px;
        height: 35px;
        background-color: #087B9E;
        color: #fff;
    }
    .pth-agent-content p {
        font-size: 12px !important;
    }
    .pth-agent-right-content {
        padding-left: 0;
    }
    .pht-agent-heaidng h4 {
        font-size: 16px;
        text-align: center;
        margin-top: 35px;
    }
    .pht-agent-heaidng p {
        font-size: 12px;
    }
    .pht-agent-content h5 {
        font-weight: 500;
        font-size: 14px;
    }
    .pth-agent-radio label {
        width: 139px;
        height: 40px;
        margin: 0px 4px;
        font-size: 12px;
        padding-top: 11px;
    }
    .last-label {
        margin-left: 8px !important;
        padding-left: 40px;
    }
    .pht-agent {
        /*border-top: 1px solid #E5E5E5;
        padding-top: 20px;*/
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 40px;
    }
    .pth-agent-content span {
        display: inline-block!important;
    }
    .pht-card-heading h3 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .pht-card .nav-tabs .nav-item {
        width: 50%;
    }
    .pht-card-tabs .nav-item a {
        padding: 11px 0px;
        font-weight: 500;
        font-size: 14px;
    }
    .pth-content-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .pth-content-number {
        width: 95px;
        height: 95px;
    }
    .pth-content-number span {
        font-size: 21px;
        padding: 33px 0px;
    }
    .pth-content-circel p {
        font-size: 12px;
        margin-top: 14px;
    }
    .pth-content-circel img.home-img {
        width: 38px;
        padding-top: 26px;
    }
    .pth-content-circel img.bul-img {
        width: 38px;
        padding-top: 26px;
    }
    .pth-content-circel h6 {
        font-size: 12px
    }
    .pth-content-oval {
        margin-top: 26px;
        padding-bottom: 0;
    }
    .pth-sold-content p span {
        display: inline-block;
    }
    .pth-sold-content p {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .pth-sold-content ul li {
        font-size: 12px;
        margin-left: 20px;
    }
    .pth-sold-content ul li span {
        width: 14px;
        height: 14px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .pth-sold-content ul li span {
        top: 2px;
        left: -5px;
    }
    .pth-sold {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .pth-sold-maps {
        margin-top: 5px;
    }
    .pth-sold-maps iframe {
        height: 266px;
    }
    .pth-all {
        margin-top: 35px;
    }
    .pth-all-heading h3 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 12px;
    }
    .pth-all-wrapper {
        padding-top: 25px;
        padding-bottom: 8px;
    }
    .pth-all-table table tr td {
        font-size: 12px;
        padding: 11px 12px;
    }
    .pth-all-table table tr.table-heading td {
        font-size: 12px!important;
    }
    .pth-all-table table tr td:first-child {
        font-size: 12px;
    }
    .pth-all-table table tr {
        border: 8px solid #fff;
    }
    .pth-more-left-heading h2 {
        font-size: 16px;
        margin-bottom: 22px;
    }
    .pth-more {
        margin-top: 30px;
    }
    .pth-all-table {
        width: 100%;
        white-space: nowrap;
        overflow: auto;
    }
    .pth-more-left-content p {
        font-size: 12px;
        margin-bottom: 6px;
    }
    .pth-more-left-content a {
        display: inline-block;
        font-size: 12px;
        color: #4999B2;
    }
    .pth-more-right-content h6 {
        font-size: 12px;
        line-height: 14px;
        color: #3C3C3C;
        margin-bottom: 6px;
    }
    .pth-more-right-content p {
        font-size: 12px;
    }
    .pth-more-right-one {
        margin-bottom: 10px;
        padding-left: 0;
    }
    .pth-more-right-content {
        margin-top: 20px;
    }
    .pth-more-right-content:before {
        content: "";
        width: 100%;
        height: 1px;
    }
    .pth-more-right-first {
        padding-top: 25px;
    }
    .check-box .checkmark::after {
        left: 2px;
        top: -1px;
    }
    .card-one-bodyer label {
        display: block;
        width: 100%;
        margin-left: 0px;
        padding-right: 0px;
    }
    .pth-agent-two-left {
        float: none;
        width: 100%;
    }
    .pth-agent-two-left input {
        width: 100%;
        height: 36px;
    }
    .pth-agent-two-left label {
        font-size: 12px;
    }
    .pth-agent-two-right-button button {
        position: inherit;
    }
    .pth-three-agent-content {
        width: 100%;
    }
    .pth-ser-link ul li a {
        font-size: 12px;
        padding-top: 10px;
    }
    .pth-ser-link ul li {
        width: 42%;
    }
    .pth-ser-link ul li:last-child a {
        /* margin-left: -146px; */
    }
    .three-serve ul li a {
        font-size: 12px;
        padding-top: 10px;
    }
    .po-world-wrapper span {
        display: inline-block;
        position: relative;
    }
    .po-world-wrapper span:before {
        content: "";
        display: none;
        width: 122%;
        height: 5px;
        background: rgba(242, 199, 68, 0.7);
        position: absolute;
        bottom: 3px;
        z-index: -5;
        left: -5px;
    }
    .po-world-wrapper h2::after {
        content: "";
        display: none;
        width: 86%;
        height: 5px;
        background: rgba(242, 199, 68, 0.7);
        position: absolute;
        bottom: 5px;
        z-index: -5;
        left: 24px;
    }
    .op-what-right h4 span {
        position: relative;
    }
    .op-what-right h4 span:after {
        content: "";
        display: block;
        width: 86%;
        height: 5px;
        background: rgba(242, 199, 68, 0.7);
        position: absolute;
        bottom: 5px;
        z-index: -5;
        left: 4px;
    }
    .op-what-right h4#shepa:after {
        content: none;
    }
    .op-what-right h4::after {
        content: "";
        display: none;
        width: 100%;
        height: 5px;
        background: rgba(242, 199, 68, 0.7);
        position: absolute;
        bottom: 4px;
        z-index: -5;
        left: 0;
    }
    .pth-agent-two-right-button a {
        position: initial;
    }
    .fixed {
        position: initial;
        z-index: 0;
        margin-left: 0px;
    }
    p.am-price {
        margin-bottom: 0;
    }
    .bau-am {
        top: 42px;
        right: -15px;
    }
    .bau1-cotent {
        top: 42px;
    }
    /*===== from-page start=====*/
    .form-ulli-left {
        float: none!important;
        display: block;
    }
    .form-ulli-right {
        float: none!important;
        display: block;
        margin-left: 39px !important;
        top: -13px;
    }
    .drop {
        right: 16%;
        top: 38px;
        width: 300px;
        padding: 6px 15px;
    }
    .profile-heading h2 {
        margin-bottom: 16px;
    }
    .fn-right input {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .fn-right input:last-child {
        margin-left: 0!important;
    }
    .screen-name {
        margin-top: 8px;
        margin-left: 20px !important;
    }
    .sn-right input {
        display: block;
        width: 100%;
    }
    .li-right input {
        display: block;
        width: 100%;
    }
    .licence select {
        display: block;
        width: 100%;
        margin: 10px 0;
        padding-left: 10px;
    }
    .modal-size {
        display: block;
        margin: auto;
    }
    .owl-nav {
        display: none;
    }
    .form-name {
        margin-left: 25px!important;
    }
    .file {
        margin-left: 20px!important;
    }
    .up-photo img {
        margin: auto;
    }
    .licence {
        margin-left: 20px !important;
    }
    .li-right input {
        margin-bottom: 20px;
    }
    .highlight-wrpper {
        padding-left: 20px!important;
    }
    .slier-bordr {
        padding-left: 20px!important;
    }
    .about-submit {
        margin-left: 20px!important;
    }
    .about-wrapper textarea {
        margin-left: 20px!important;
        width: 95%;
    }

    .form-black .drop {
        top: 30px;
    }

    .dropdown {
        position: relative;
        top: -20px;
        left: 8px;
    }

    .toc-one ul {
        float: initial;
        position: initial;
        top: -26px;
        width: 230px;
        margin: auto;
        margin-top: 10px;
    }

    .dm-part2 { 
        /* left: 0; */
    }

    .dm-part { 
        width: 200px;
    }


    .toc-two-left-two-heading-left h4 a {
        font-size: 12px;
    }


    .pt-tab-wrapper .nav-tabs .nav-link {
        padding: 7px 20px;

    }

    .ak-icontent {   
        margin-top: 50px;
        padding-top: 50px;
    }


    .toc-two-left-one img {
        display: block;
        width: initial;
        max-width: 100%;
        margin: auto;
    }
    img.profileImage {
        border-radius: 100% !important;
        width: 40%;
    }

    .toc-two-left-one::before {  
        top: -25px;
        left: 33%;
    }

    .toc-two-left {
        padding-top: 40px;

    }

    .ak-table table h5 {
        font-size: 16px;

    }
    .ak-table table td {
        padding: 3px;
    }

    .ak-table table td {
        font-size: 13px;
    }

    .pt-search {
        position: initial!important;
    }

}
