
.reviews-holder a {
	color: #39f;
}
@font-face {
	font-family: icomoon;
	src: url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.woff") format("woff2");
	font-weight: 400;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-double-chevron:before {
	content: "\e900";
}

.icon-double-chevron1:before {
	content: "\e901";
}

.icon-star:before {
	content: "\e902";
}

/* Slick slider styles */

.reviews-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.reviews-slider .slick-track,
.reviews-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-arrow {
	position: absolute;
	left: 0;
	top: 50%;
	color: #d8d8d8 !important;
	font-size: 20px;
	line-height: 20px;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.slick-arrow:hover {
	color: #000;
}

.slick-arrow.slick-next {
	left: auto;
	right: 0;
}

.reviews-slider {
	max-width: 372px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	padding: 62px 15px 50px;
}

.reviews-slider .name {
	display: block;
	font-size: 20px;
	line-height: 24px;
}

.reviews-slider .date {
	display: block;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 10px;
}

.reviews-slider .reviews-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 10px;
}

.reviews-slider .reviews-bar {
	width: 115px;
	height: 21px;
	background: url(../img/stars.png) no-repeat;
	display: block;
	position: relative;
}

.reviews-slider .reviews-bar .fill {
	background: url(../img/stars-active.png) no-repeat;
	width: 90%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

.reviews-slider blockquote {
	margin: 0;
}

.reviews-slider blockquote q {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.reviews-slider .link {
	display: block;
	margin-left: 10px;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
}

.reviews-slider .link:hover {
	text-decoration: underline;
	color: #000;
}

.reviews-slider .slick-dots {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.reviews-slider .slick-dots button {
	padding: 0;
	background: #d6d6d6;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	font-size: 0;
	padding: 0;
	border: none;
	line-height: 0;
	margin: 0 5px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.reviews-slider .slick-dots button:hover {
	background: #859691;
}

.reviews-slider .slick-dots li.slick-active button {
	background: #859691;
}

.reviews .reviews-slider,.review-detail-content .reviews-slider {
	padding: 0;
}

.reviews .reviews-slider .reviews-holder, .review-detail-content .reviews-slider .reviews-holder {
	display: block;
}

.reviews .reviews-slider, .review-detail-content .reviews-slider {
	margin: 0;
}

