.rating-popup {
	position: relative;
	overflow: hidden;
	padding: 15px 0;
}

.rating-popup .popup-container {
	position: relative;
	max-width: 1230px;
	margin: 0 auto;
}

.rating-popup .popup-heading {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-items: center;
	-webkit-align-items: center;
	margin: 0 0 20px;
}

.rating-popup .popup-heading .rating-star {
	display: block;
	width: 188px;
	background: url(../img/rating02.png) no-repeat;
	position: relative;
	height: 38px;
}

.rating-popup .popup-heading .rating-star .fill {
	background: url(../img/rating01.png) no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

.rating-popup .popup-heading .rating-star img {
	display: block;
	width: 100%;
	height: auto;
}

.rating-popup .popup-heading h3 {
	margin: 0 0 0 22px;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 600;
}

.rating-popup .popup-heading .flag {
	position: absolute;
	right: 5px;
	top: 5px;
}

.rating-popup .review-info {
	position: relative;
	padding: 0 0 15px;
}

.rating-popup .review-info .text {
	display: block;
	color: #a7a6ab;
	font-size: 12px;
	line-height: 16px;
	margin: 0 0 5px;
}

.rating-popup .review-info .text a {
	text-decoration: none;
	color: #006aff;
}

.rating-popup .review-info .text a:hover {
	opacity: 0.8;
}

.rating-popup .reviews-sub-ratings {
	position: relative;
	list-style: none;
	padding: 0 0 25px;
	margin: 0;
}

.rating-popup .reviews-sub-ratings li {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-items: center;
	-webkit-align-items: center;
	margin: 0 0 5px;
}

.rating-popup .review-text {
	display: block;
	width: 125px;
	font-size: 15px;
	line-height: 20px;
	color: #2a2a33;
}

.rating-popup .reviews-sub-ratings .rating-star {
	display: block;
	width: 80px;
	background: url(../img/rating03.png) no-repeat;
	position: relative;
	height: 16px;
}

.rating-popup .reviews-sub-ratings .rating-star .fill {
	background: url(../img/rating04.png) no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

.rating-popup .reviews-sub-ratings .rating-star img {
	display: block;
	width: 100%;
	height: auto;
}

.rating-popup .popup-content {
	position: relative;
	font-size: 15px;
	line-height: 22px;
	color: #2a2a33;
}

.rating-popup .popup-content.active .more-opener {
	display: none;
}

.rating-popup .popup-content .less-opener {
	display: none;
}

.rating-popup .popup-content.active .less-opener {
	display: inline;
}

.rating-popup .popup-content p {
	margin: 0;
}

.rating-popup .popup-content a {
	text-decoration: none;
	color: #006aff;
}

.rating-popup .popup-content a:hover {
	opacity: 0.8;
}

.rating-popup .more-opener {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.rating-popup .more-opener:after {
	content: '';
	background: url(../img/arrow01.png) no-repeat;
	background-size: cover;
	width: 18px;
	height: 10px;
	display: inline-block;
	vertical-align: top;
	margin: 7px 0 0 6px;
	transform: rotate(180deg);
}

.rating-popup .less-opener {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.rating-popup .less-opener:after {
	content: '';
	background: url(../img/arrow01.png) no-repeat;
	background-size: cover;
	width: 18px;
	height: 10px;
	display: inline-block;
	vertical-align: top;
	margin: 6px 0 0 7px;
}

.popup-close {
	background: url(../img/close01.png) no-repeat;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 7px;
	z-index: 5;
}

#review-listing thead {
	display: none;
}

.dataTables_info {
    width: 20%;
    float: left;
}

@media (max-width: 767px) {

	.rating-popup .popup-heading {
		display: block;
	}

	.rating-popup .popup-heading .rating-star {
		width: 140px;
		margin: 0 0 12px;
	}

	.rating-popup .popup-heading h3 {
		margin: 0;
	}
}


#review-listing_paginate {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 12px;
}
#review-listing_wrapper #review-listing_info {
    display: none;
}
#review-listing_paginate ul.pagination {
    justify-content: flex-start;
}
#review-listing_paginate .pagination a {
    border-radius: 50%;
    color: #333;
    margin: 0 3px 0 0;
    padding: 0;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 35px;
    font-weight: 500;
    border: none;
}
#review-listing_paginate .pagination a:hover,
#review-listing_paginate .pagination .active a {
    background: #333;
    color: #fff;
}
.no-review {
	margin-bottom: 5px;
}
.flag {
	cursor: pointer;
}
.flag:hover {
	opacity: 0.5;
}
.reviews span{
	float: left;
}
.reviews .rating-popup{
	padding: 0px;
}
.modal-sm {
	max-width: 300px !important;
}
.agent-tab-item .container {
	padding-left: 0px;
	padding-right: 0px;
}