
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* General styles */
.accordion {
  padding: 20px 100px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #eee;
}

/* Logo */
.navbar-brand img {
  max-height: 50px;
}

.navbar-brand {
  padding: 0;
  margin-right: auto;
}

/* Navigation links */
.navbar-nav {
  margin-left: auto;
}

/* Head container */
.headContainer {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.headContainer h1 {
  font-weight: 550;
  line-height: 50px;
  padding: 20px;
}

.headContainer p {
  font-size: 16px;
  font-weight: 500px;
  line-height: 30px;
  margin: 0;
}

.headContainer button {
  height: 45px;
  width: 180px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

/* Main container 1 */
.mainContainerContainer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 20px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.165);
}

.container1 {
  height: auto;
  justify-content: center;
  align-items: center;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.351);
  border-radius: 10px;
}

.container1 h1 {
  font-size: 20px;
}

.container1 p {
  font-size: 12px;
}

.container1 button {
  background-color: black;
  color: white;
  height: 40px;
  width: 160px;
  border-radius: 10px;
  border: none;
}

.miniContainer1 {
  padding: 10px;
}

.miniContainer2 {
  height: 100%;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miniContainer2 img {
  width: auto;
  height: 300px;
}
.carouselExampleControls {
  width: 20%;
  height: 20%;
}

/* Main container 2 */
.mainContainer2 {
  background-color: rgb(245, 245, 245);
  margin: 50px 20px 0 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 600px;
}

.mainContainer2 .navContainer {
  background-color: rgba(222, 222, 222, 0.646);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  border-radius: 5px;
  margin-top: 0px;
}

.mainContainer2 .navContainer button {
  height: 40px;
  width: 180px;
  border-radius: 8px;
  border: none;
}

.mainContainer2 .Container1 {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer2 .Container1 .miniContainer1 {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainContainer2 .Container1 .miniContainer1 h1 {
  margin: 0px 20px;
  font-size: 24px;
}

.mainContainer2 .Container1 .miniContainer1 p {
  margin: 20px;
  font-weight: 300;
  line-height: 25px;
  font-size: 14px;
}

.mainContainer2 .Container1 .miniContainer1 button {
  height: 45px;
  width: 160px;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: transparent;
  margin: 20px;
}

.mainContainer2 .Container1 .miniContainer2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer2 .Container1 video {
  width: 100%;
  max-height: 300px;
  border-radius: 7px;
  margin-right: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.351);
}

/* Container 2 */
.Container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.Container2 p {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 50px 0 50px;
}

.container3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 50px 20px
  align-items: center;
  justify-content: center;
}

.container3 {
  margin: 100px 60px 100px 40px;
}

.container3 div {
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.165);
  border-radius: 7px;
  padding: 10px;
}

.container3 div svg {
  height: 20px;
  margin: 5px 0;
}

.container3 div a {
  color: rgb(0, 149, 255);
  text-decoration: none;
}


/* Container 4 */
.container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 20px;
}

.container5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;
  }

/*.container5 div {
  background-color: white;
  box-shadow: 0Spx 0px 10px rgba(0, 0, 0, 0.165);
  border-radius: 7px;
  padding: 0px 20px;
}*/

.container3 div {
  width: 300px ;
  height: 290px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.165);
  border-radius: 7px;
  padding: 10px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.container4 div {
  border-radius: 7px;
  border: 1px solid rgba(0, 140, 255, 0.187);
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 10px 0;
}

.container4 p {
  margin-left: 20px;
  font-weight: 600;
  color: rgba(11, 32, 114, 0.782);
}

.container4 h5 {
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.mainContainerNum5Main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.containerNum5 {
  width: 100%;
  display: grid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.165);
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  margin: 0 auto 1rem;
  padding: 1rem;
}

.mini1ContainerNum5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}

.mini2ContainerNum5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
}

.mini2ContainerNum5 button {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 7px;
  background-color: black;
  color: white;
  font-size: 16px;
}

/* Media Queries */
@media (max-width: 768px) {
  .Container2 p {
    font-size: 14px;
  }
  .container3 div {
    width: 90%;
  }
}

@media (max-width: 755px) {
  .headContainer {
    font-size: 25px;
  }
  .headContainer p {
    font-size: 11px;
  }
  .headContainer button {
    padding: 0.5rem;
    height: 40px;
  }
  .mainContainerNum5Main {
    margin: 30px 0;

  .miniContainer1 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .container4 div {
    border-radius: 7px;
    height: 40px;
    width: 600px;
    display: flex;
    align-items: center;
  }
  .container4 p {
    font-size: 13px;
  }
  .mainContainer2 {
    margin: 30px 20px 0 20px;
  }
  .accordion {
    padding: 20px 50px;
  }
  .accordion-body {
    font-size: 0.9rem;
  }
  .accordion-button {
    font-size: 0.85rem;
  }
}

@media (max-width: 576px) {
  .headContainer {
    font-size: 22px;
  }
  .headContainer p {
    font-size: 9px;
  }
  .headContainer button {
    font-size: 14px;
  }
  .container1 h1 {
    font-size: 17px;
  }
  .container1 p {
    font-size: 8px;
  }
  .container1 button {
    height: 20px;
    width: 80px;
    font-size: 7px;
  }
  .container1 {
    margin-top: 30px;
    height: auto;
    justify-content: center;
    align-items: center;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.351);
    border-radius: 10px;
  }
  .Container2 p {
    font-size: 13px;
    width: 70%;
  }
  .container3 div {
    width: 100%;
  }
  .mainContainerNum5Main {
    height: auto;
    margin: 30px 0;
  }
  .containerNum5 h1 {
    font-size: 20px;
  }
  .containerNum5 p {
    font-size: 10px;
  }
  .containerNum5 {
    height: 100%;
  }
  .mini2ContainerNum5 button {
    height: 30px;
    width: 140px;
    font-size: 10px;
  }
  .container4 div {
    height: auto;
    width: 100%;
  }
  .container4 p {
    font-size: 13px;
  }
  .container4 h5 {
    font-size: 12px;
    line-height: 30px;
  }
  .accordion {
    padding: 20px 40px;
  }
}
@media (max-width: 564px) {
  .Container2 {
    margin-top: 50px;
  }
  .container3 {
    margin: 100px 0px 100px 0px;
  }
  .container3 div {
    width: 80%;
  }
  .container4 div {
    border-radius: 7px;
    height: 40px;
    width: 450px;
    display: flex;
    align-items: center;
  }
  .container4 p {
    font-size: 11px;
    line-height: 20px;
  }
}
@media (max-width: 462px) {
  .headContainer {
    font-size: 17px;
  }
  .headContainer p {
    font-size: 7px;
  }
  .headContainer button {
    height: 35px;
    width: 90px;
    font-size: 13px;
    padding: 0.3rem;
  }
  .container3 div {
    width: 80%;
  }
  .container4 div {
    border-radius: 7px;
    height: 40px;
    width: 350px;
    display: flex;
    align-items: center;
  }
  .container4 p {
    font-size: 10px;
  }
  .container4 h5 {
    font-size: 11px;
    line-height: 30px;
  }
  .accordion {
    padding: 20px;
  }
}

/* my code */



.navbar-brand img{
  width: 100px;
  margin-right: 200px;
 
}

div.container{
  margin: 0px 0px;
  

}

.navbar.navbar-expand-lg{
  margin: 0px !important;

}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* #loginBtn{
  margin-left: 100px;
} */


.mainContainerContainer2.new{
  text-align: center;
  margin-top: 20px;
  /* background-color: blueviolet; */
}

.home-img{
  height: 500px;
}

.col-6{
  text-align: center;
  /* justify-content: center; */
 padding: 10px 50px;
}

.new-sectionp{
  padding: 20px 50px;

  text-align: left;
}

.new-sectionh2{
font-size: 38px;
    line-height: 50px;
    letter-spacing: -1px;
    font-weight: 600;
    padding: 20px 50px;

  text-align: left;
}



.new h5{
  color: black;
  padding: 50px 0px;
}

.main-btn{
  background-color: black;
  color: white;
     
    border-radius: 8px;
 
    font-weight: 500;
    border: 2px #000 solid!important;
}

.feature-btns{
  text-align: left;
  padding-left: 50px;
}
