.display-none {
    display: none;
}
.detailed-table th,.detailed-table td{
    border: none;
}
.detail-header {
    color: black;
    font-weight: 600;
    margin-bottom: 5px;
}
.detail-sub-header {
    color:black; font-weight: 500; margin-bottom:5px;
}
.detail-text {
    color: #3C3C3C;
    font-weight: 300;
}
.detailed-table td {
    text-align: left !important;
}
.dataTables_info {
    width: 20%;
    float: left;
    padding-top: 0px !important;
}
.right-arrow-city, .down-arrow-city { 
    margin-top: 14px;
    cursor: pointer; 
}
#active-trans-tbl-body .table-column {
    height: 51px;
}