.table-color {
    background: #F2F2F2;
}
.container-fluid {
    padding: 0 50px;
}
#transations-table {
    border: 3px solid black;
}
#transations-table {
    border-bottom: 4px solid black;
}
.table-heading td {
    font-weight:500 ;
    padding: 10px;
}
.table-column {
    width: 10%;
    padding: 0px 10px 0px 10px;
}
